<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <log4net>
    <logger name="FileTransferServiceLog">
      <level value="DEBUG" />
      <appender-ref ref="Loge" />
    </logger>
    <appender name="Loge" type="log4net.Appender.RollingFileAppender">
      <file value="${ALLUSERSPROFILE}/Application Data/Veeam/Amazon2/FileTranfer_Service/logs/Log.log" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="6" />
      <maximumFileSize value="400MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
      </layout>
    </appender>
  </log4net>
</configuration>